/* Prompt Font - Local */

@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./Prompt-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Prompt-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./Prompt-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./Prompt-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./Prompt-Bold.ttf') format('truetype');
}
